@font-face
	font-family: 'BurbankBig'
	src: url('/fonts/BurbankBigCondensed-Black.eot')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'BurbankBig'
	src: url('/fonts/BurbankBigCondensed-Black.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'BurbankBig'
	src: url('/fonts/BurbankBigCondensed-Black.svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'BurbankBig'
	src: url('/fonts/BurbankBigCondensed-Black.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'BurbankBig'
	src: url('/fonts/BurbankBigCondensed-Black.woff')
	font-weight: normal
	font-style: normal